<!-- <div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">Navigation</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resume-form">Create Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-resumes">My Resumes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/templates">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
</div> -->